.welcome_button {
  background-color: #50DA50;
  width: 75%;
  margin-left: 12.5%;
  height: auto;
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-top: 20mm;
  padding-bottom: 10mm;
  font-size: 4.5mm;
}

.welcome_button button {
  background-color: #50DA50;
  border-color: #20DA20;
  border-radius: 20px;
  font-size: 4mm;
  font-weight: bold;
  padding: 2mm;
  color: #FFFFFF;
  transition: background-color 1s ease-out;
}

.welcome_button button:hover {
  background-color: #D0DA20;
  border-color: #A0DA20;
  /* transition: 2s; */
}
